<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="net.teufel.e4.plz.ui"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="appName"
               value="net.teufel.e4.plz.ui">
         </property>
         <property
               name="applicationXMI"
               value="net.teufel.e4.geo.ui/Application.e4xmi">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/net.teufel.e4.geo.ui/css/myTheme.css">
         </property>
      </product>
   </extension>
 

</plugin>
